# LangChain Core
langchain
langchain-community
langchain-core
langchain-experimental

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

#vector stores
chromadb
langchain-chroma

# Machine Learning Utilities
numpy
scikit-learn
torch

#Misc
Streamlit
pydantic
pydantic[email]
grandalf #for graph drawing
pypdf # for pdfloader for document loading
beautifulsoup4  #for webbaseloader
watchdog
youtube-transcript-api  # for youtube transcripts
